# editors
.idea/
.vscode/

# dependencies
/flow-typed
/node_modules
**/*.css

# testing
/coverage

# production
/build
/dist

# misc
.DS_Store
.env*

# logs
*.log*
package-lock.json
