.height-xs {
  height: 150px !important;
}
.height-sm {
  height: 300px !important;
}
.height-md {
  height: 450px !important;
}
.height-lg {
  height: 600px !important;
}
.height-full {
  height: 100% !important;
}
.height-0 {
  height: 0 !important;
}
.height-10 {
  height: 10px !important;
}
.height-20 {
  height: 20px !important;
}
.height-30 {
  height: 30px !important;
}
.height-40 {
  height: 40px !important;
}
.height-50 {
  height: 50px !important;
}
.height-60 {
  height: 60px !important;
}
.height-70 {
  height: 70px !important;
}
.height-80 {
  height: 80px !important;
}
.height-90 {
  height: 90px !important;
}
.height-100 {
  height: 100px !important;
}
.height-150 {
  height: 150px !important;
}
.height-200 {
  height: 200px !important;
}
.height-250 {
  height: 250px !important;
}
.height-300 {
  height: 300px !important;
}
.height-350 {
  height: 350px !important;
}
.height-400 {
  height: 400px !important;
}
.height-450 {
  height: 450px !important;
}
.height-500 {
  height: 500px !important;
}
.height-550 {
  height: 550px !important;
}
.height-600 {
  height: 600px !important;
}
