a.text-danger:focus,
a.text-danger:hover,
a.text-red:focus,
a.text-red:hover {
  color: #d32f2f !important;
}
a.text-pink:focus,
a.text-pink:hover {
  color: #c2185b !important;
}
a.text-purple:focus,
a.text-purple:hover {
  color: #7b1fa2 !important;
}
a.text-deep-purple:focus,
a.text-deep-purple:hover {
  color: #512da8 !important;
}
a.text-indigo:focus,
a.text-indigo:hover {
  color: #303f9f !important;
}
a.text-blue:focus,
a.text-blue:hover,
a.text-primary:focus,
a.text-primary:hover {
  color: #1976d2 !important;
}
a.text-light-blue:focus,
a.text-light-blue:hover {
  color: #0288d1 !important;
}
a.text-cyan:focus,
a.text-cyan:hover {
  color: #0097a7 !important;
}
a.text-success:focus,
a.text-success:hover,
a.text-teal:focus,
a.text-teal:hover {
  color: #00796b !important;
}
a.text-green:focus,
a.text-green:hover {
  color: #388e3c !important;
}
a.text-light-green:focus,
a.text-light-green:hover {
  color: #689f38 !important;
}
a.text-light-lime:focus,
a.text-light-lime:hover {
  color: #afb42b !important;
}
a.text-yellow:focus,
a.text-yellow:hover {
  color: #fbc02d !important;
}
a.text-amber:focus,
a.text-amber:hover {
  color: #ffa000 !important;
}
a.text-orange:focus,
a.text-orange:hover,
a.text-warning:focus,
a.text-warning:hover {
  color: #f57c00 !important;
}
a.text-deep-orange:focus,
a.text-deep-orange:hover {
  color: #e64a19 !important;
}
a.text-brown:focus,
a.text-brown:hover {
  color: #5d4037 !important;
}
a.text-grey:focus,
a.text-grey:hover {
  color: #616161 !important;
}
a.text-blue-grey:focus,
a.text-blue-grey:hover {
  color: #455a64 !important;
}
