.row {
  margin-left: -10px;
  margin-right: -10px;
}
.row > [class^='col-'] {
  padding-left: 10px;
  padding-right: 10px;
}
.row.row-space-0 {
  margin-left: 0;
  margin-right: 0;
}
.row.row-space-2 {
  margin-left: -1px;
  margin-right: -1px;
}
.row.row-space-4 {
  margin-left: -2px;
  margin-right: -2px;
}
.row.row-space-6 {
  margin-left: -3px;
  margin-right: -3px;
}
.row.row-space-8 {
  margin-left: -4px;
  margin-right: -4px;
}
.row.row-space-10 {
  margin-left: -5px;
  margin-right: -5px;
}
.row.row-space-12 {
  margin-left: -6px;
  margin-right: -6px;
}
.row.row-space-14 {
  margin-left: -7px;
  margin-right: -7px;
}
.row.row-space-16 {
  margin-left: -8px;
  margin-right: -8px;
}
.row.row-space-18 {
  margin-left: -9px;
  margin-right: -9px;
}
.row.row-space-20 {
  margin-left: -10px;
  margin-right: -10px;
}
.row.row-space-22 {
  margin-left: -11px;
  margin-right: -11px;
}
.row.row-space-24 {
  margin-left: -12px;
  margin-right: -12px;
}
.row.row-space-26 {
  margin-left: -13px;
  margin-right: -13px;
}
.row.row-space-28 {
  margin-left: -14px;
  margin-right: -14px;
}
.row.row-space-30 {
  margin-left: -15px;
  margin-right: -15px;
}
.row.row-space-0 > [class^='col-'] {
  padding-left: 0;
  padding-right: 0;
}
.row.row-space-2 > [class^='col-'] {
  padding-left: 1px;
  padding-right: 1px;
}
.row.row-space-4 > [class^='col-'] {
  padding-left: 2px;
  padding-right: 2px;
}
.row.row-space-6 > [class^='col-'] {
  padding-left: 3px;
  padding-right: 3px;
}
.row.row-space-8 > [class^='col-'] {
  padding-left: 4px;
  padding-right: 4px;
}
.row.row-space-10 > [class^='col-'] {
  padding-left: 5px;
  padding-right: 5px;
}
.row.row-space-12 > [class^='col-'] {
  padding-left: 6px;
  padding-right: 6px;
}
.row.row-space-14 > [class^='col-'] {
  padding-left: 7px;
  padding-right: 7px;
}
.row.row-space-16 > [class^='col-'] {
  padding-left: 8px;
  padding-right: 8px;
}
.row.row-space-18 > [class^='col-'] {
  padding-left: 9px;
  padding-right: 9px;
}
.row.row-space-20 > [class^='col-'] {
  padding-left: 10px;
  padding-right: 10px;
}
.row.row-space-22 > [class^='col-'] {
  padding-left: 11px;
  padding-right: 11px;
}
.row.row-space-24 > [class^='col-'] {
  padding-left: 12px;
  padding-right: 12px;
}
.row.row-space-26 > [class^='col-'] {
  padding-left: 13px;
  padding-right: 13px;
}
.row.row-space-28 > [class^='col-'] {
  padding-left: 14px;
  padding-right: 14px;
}
.row.row-space-30 > [class^='col-'] {
  padding-left: 15px;
  padding-right: 15px;
}
