.text-ellipsis,
.text-nowrap {
  white-space: nowrap !important;
}
.text-ellipsis {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}
.text-center {
  text-align: center !important;
}
.text-left {
  text-align: left !important;
}
.text-right {
  text-align: right !important;
}
.text-danger,
.text-red,
.text-red-500 {
  color: #f44336 !important;
}
.text-red-transparent-1 {
  color: rgba(244, 67, 54, 0.1) !important;
}
.text-red-transparent-2 {
  color: rgba(244, 67, 54, 0.2) !important;
}
.text-red-transparent-3 {
  color: rgba(244, 67, 54, 0.3) !important;
}
.text-red-transparent-4 {
  color: rgba(244, 67, 54, 0.4) !important;
}
.text-red-transparent-5 {
  color: rgba(244, 67, 54, 0.5) !important;
}
.text-red-transparent-6 {
  color: rgba(244, 67, 54, 0.6) !important;
}
.text-red-transparent-7 {
  color: rgba(244, 67, 54, 0.7) !important;
}
.text-red-transparent-8 {
  color: rgba(244, 67, 54, 0.8) !important;
}
.text-red-transparent-9 {
  color: rgba(244, 67, 54, 0.9) !important;
}
.text-red-50 {
  color: #ffebee !important;
}
.text-red-100 {
  color: #ffcdd2 !important;
}
.text-red-200 {
  color: #ef9a9a !important;
}
.text-red-300,
.text-red-lighter {
  color: #e57373 !important;
}
.text-red-400 {
  color: #ef5350 !important;
}
.text-red-600 {
  color: #e53935 !important;
}
.text-red-700,
.text-red-darker {
  color: #d32f2f !important;
}
.text-red-800 {
  color: #c62828 !important;
}
.text-red-900 {
  color: #b71c1c !important;
}
.text-pink,
.text-pink-500 {
  color: #e91e63 !important;
}
.text-pink-transparent-1 {
  color: rgba(233, 30, 99, 0.1) !important;
}
.text-pink-transparent-2 {
  color: rgba(233, 30, 99, 0.2) !important;
}
.text-pink-transparent-3 {
  color: rgba(233, 30, 99, 0.3) !important;
}
.text-pink-transparent-4 {
  color: rgba(233, 30, 99, 0.4) !important;
}
.text-pink-transparent-5 {
  color: rgba(233, 30, 99, 0.5) !important;
}
.text-pink-transparent-6 {
  color: rgba(233, 30, 99, 0.6) !important;
}
.text-pink-transparent-7 {
  color: rgba(233, 30, 99, 0.7) !important;
}
.text-pink-transparent-8 {
  color: rgba(233, 30, 99, 0.8) !important;
}
.text-pink-transparent-9 {
  color: rgba(233, 30, 99, 0.9) !important;
}
.text-pink-50 {
  color: #fce4ec !important;
}
.text-pink-100 {
  color: #f8bbd0 !important;
}
.text-pink-200 {
  color: #f48fb1 !important;
}
.text-pink-300,
.text-pink-lighter {
  color: #f06292 !important;
}
.text-pink-400 {
  color: #ec407a !important;
}
.text-pink-600 {
  color: #d81b60 !important;
}
.text-pink-700,
.text-pink-darker {
  color: #c2185b !important;
}
.text-pink-800 {
  color: #ad1457 !important;
}
.text-pink-900 {
  color: #880e4f !important;
}
.text-purple,
.text-purple-500 {
  color: #9c27b0 !important;
}
.text-purple-transparent-1 {
  color: rgba(156, 39, 176, 0.1) !important;
}
.text-purple-transparent-2 {
  color: rgba(156, 39, 176, 0.2) !important;
}
.text-purple-transparent-3 {
  color: rgba(156, 39, 176, 0.3) !important;
}
.text-purple-transparent-4 {
  color: rgba(156, 39, 176, 0.4) !important;
}
.text-purple-transparent-5 {
  color: rgba(156, 39, 176, 0.5) !important;
}
.text-purple-transparent-6 {
  color: rgba(156, 39, 176, 0.6) !important;
}
.text-purple-transparent-7 {
  color: rgba(156, 39, 176, 0.7) !important;
}
.text-purple-transparent-8 {
  color: rgba(156, 39, 176, 0.8) !important;
}
.text-purple-transparent-9 {
  color: rgba(156, 39, 176, 0.9) !important;
}
.text-purple-50 {
  color: #f3e5f5 !important;
}
.text-purple-100 {
  color: #e1bee7 !important;
}
.text-purple-200 {
  color: #ce93d8 !important;
}
.text-purple-300,
.text-purple-lighter {
  color: #ba68c8 !important;
}
.text-purple-400 {
  color: #ab47bc !important;
}
.text-purple-600 {
  color: #8e24aa !important;
}
.text-purple-700,
.text-purple-darker {
  color: #7b1fa2 !important;
}
.text-purple-800 {
  color: #6a1b9a !important;
}
.text-purple-900 {
  color: #4a148c !important;
}
.text-deep-purple,
.text-deep-purple-500 {
  color: #673ab7 !important;
}
.text-deep-purple-transparent-1 {
  color: rgba(103, 58, 183, 0.1) !important;
}
.text-deep-purple-transparent-2 {
  color: rgba(103, 58, 183, 0.2) !important;
}
.text-deep-purple-transparent-3 {
  color: rgba(103, 58, 183, 0.3) !important;
}
.text-deep-purple-transparent-4 {
  color: rgba(103, 58, 183, 0.4) !important;
}
.text-deep-purple-transparent-5 {
  color: rgba(103, 58, 183, 0.5) !important;
}
.text-deep-purple-transparent-6 {
  color: rgba(103, 58, 183, 0.6) !important;
}
.text-deep-purple-transparent-7 {
  color: rgba(103, 58, 183, 0.7) !important;
}
.text-deep-purple-transparent-8 {
  color: rgba(103, 58, 183, 0.8) !important;
}
.text-deep-purple-transparent-9 {
  color: rgba(103, 58, 183, 0.9) !important;
}
.text-deep-purple-50 {
  color: #ede7f6 !important;
}
.text-deep-purple-100 {
  color: #d1c4e9 !important;
}
.text-deep-purple-200 {
  color: #b39ddb !important;
}
.text-deep-purple-300,
.text-deep-purple-lighter {
  color: #9575cd !important;
}
.text-deep-purple-400 {
  color: #7e57c2 !important;
}
.text-deep-purple-600 {
  color: #5e35b1 !important;
}
.text-deep-purple-700,
.text-deep-purple-darker {
  color: #512da8 !important;
}
.text-deep-purple-800 {
  color: #4527a0 !important;
}
.text-deep-purple-900 {
  color: #311b92 !important;
}
.text-indigo,
.text-indigo-500 {
  color: #3f51b5 !important;
}
.text-indigo-transparent-1 {
  color: rgba(63, 81, 181, 0.1) !important;
}
.text-indigo-transparent-2 {
  color: rgba(63, 81, 181, 0.2) !important;
}
.text-indigo-transparent-3 {
  color: rgba(63, 81, 181, 0.3) !important;
}
.text-indigo-transparent-4 {
  color: rgba(63, 81, 181, 0.4) !important;
}
.text-indigo-transparent-5 {
  color: rgba(63, 81, 181, 0.5) !important;
}
.text-indigo-transparent-6 {
  color: rgba(63, 81, 181, 0.6) !important;
}
.text-indigo-transparent-7 {
  color: rgba(63, 81, 181, 0.7) !important;
}
.text-indigo-transparent-8 {
  color: rgba(63, 81, 181, 0.8) !important;
}
.text-indigo-transparent-9 {
  color: rgba(63, 81, 181, 0.9) !important;
}
.text-indigo-50 {
  color: #e8eaf6 !important;
}
.text-indigo-100 {
  color: #c5cae9 !important;
}
.text-indigo-200 {
  color: #9fa8da !important;
}
.text-indigo-300,
.text-indigo-lighter {
  color: #7986cb !important;
}
.text-indigo-400 {
  color: #5c6bc0 !important;
}
.text-indigo-600 {
  color: #3949ab !important;
}
.text-indigo-700,
.text-indigo-darker {
  color: #303f9f !important;
}
.text-indigo-800 {
  color: #283593 !important;
}
.text-indigo-900 {
  color: #1a237e !important;
}
.text-blue,
.text-blue-500,
.text-primary {
  color: #2196f3 !important;
}
.text-blue-transparent-1 {
  color: rgba(33, 150, 243, 0.1) !important;
}
.text-blue-transparent-2 {
  color: rgba(33, 150, 243, 0.2) !important;
}
.text-blue-transparent-3 {
  color: rgba(33, 150, 243, 0.3) !important;
}
.text-blue-transparent-4 {
  color: rgba(33, 150, 243, 0.4) !important;
}
.text-blue-transparent-5 {
  color: rgba(33, 150, 243, 0.5) !important;
}
.text-blue-transparent-6 {
  color: rgba(33, 150, 243, 0.6) !important;
}
.text-blue-transparent-7 {
  color: rgba(33, 150, 243, 0.7) !important;
}
.text-blue-transparent-8 {
  color: rgba(33, 150, 243, 0.8) !important;
}
.text-blue-transparent-9 {
  color: rgba(33, 150, 243, 0.9) !important;
}
.text-blue-50 {
  color: #e3f2fd !important;
}
.text-blue-100 {
  color: #bbdefb !important;
}
.text-blue-200 {
  color: #90caf9 !important;
}
.text-blue-300,
.text-blue-lighter {
  color: #64b5f6 !important;
}
.text-blue-400 {
  color: #42a5f5 !important;
}
.text-blue-600 {
  color: #1e88e5 !important;
}
.text-blue-700,
.text-blue-darker {
  color: #1976d2 !important;
}
.text-blue-800 {
  color: #1565c0 !important;
}
.text-blue-900 {
  color: #0d47a1 !important;
}
.text-aqua,
.text-info,
.text-light-blue,
.text-light-blue-500 {
  color: #03a9f4 !important;
}
.text-aqua-transparent-1,
.text-light-blue-transparent-1 {
  color: rgba(3, 169, 244, 0.1) !important;
}
.text-aqua-transparent-2,
.text-light-blue-transparent-2 {
  color: rgba(3, 169, 244, 0.2) !important;
}
.text-aqua-transparent-3,
.text-light-blue-transparent-3 {
  color: rgba(3, 169, 244, 0.3) !important;
}
.text-aqua-transparent-4,
.text-light-blue-transparent-4 {
  color: rgba(3, 169, 244, 0.4) !important;
}
.text-aqua-transparent-5,
.text-light-blue-transparent-5 {
  color: rgba(3, 169, 244, 0.5) !important;
}
.text-aqua-transparent-6,
.text-light-blue-transparent-6 {
  color: rgba(3, 169, 244, 0.6) !important;
}
.text-aqua-transparent-7,
.text-light-blue-transparent-7 {
  color: rgba(3, 169, 244, 0.7) !important;
}
.text-aqua-transparent-8,
.text-light-blue-transparent-8 {
  color: rgba(3, 169, 244, 0.8) !important;
}
.text-aqua-transparent-9,
.text-light-blue-transparent-9 {
  color: rgba(3, 169, 244, 0.9) !important;
}
.text-light-blue-50 {
  color: #e1f5fe !important;
}
.text-light-blue-100 {
  color: #b3e5fc !important;
}
.text-light-blue-200 {
  color: #81d4fa !important;
}
.text-aqua-lighter,
.text-light-blue-300,
.text-light-blue-lighter {
  color: #4fc3f7 !important;
}
.text-light-blue-400 {
  color: #29b6f6 !important;
}
.text-light-blue-600 {
  color: #039be5 !important;
}
.text-aqua-darker,
.text-light-blue-700,
.text-light-blue-darker {
  color: #0288d1 !important;
}
.text-light-blue-800 {
  color: #0277bd !important;
}
.text-light-blue-900 {
  color: #01579b !important;
}
.text-cyan,
.text-cyan-500 {
  color: #00bcd4 !important;
}
.text-cyan-transparent-1 {
  color: rgba(0, 188, 212, 0.1) !important;
}
.text-cyan-transparent-2 {
  color: rgba(0, 188, 212, 0.2) !important;
}
.text-cyan-transparent-3 {
  color: rgba(0, 188, 212, 0.3) !important;
}
.text-cyan-transparent-4 {
  color: rgba(0, 188, 212, 0.4) !important;
}
.text-cyan-transparent-5 {
  color: rgba(0, 188, 212, 0.5) !important;
}
.text-cyan-transparent-6 {
  color: rgba(0, 188, 212, 0.6) !important;
}
.text-cyan-transparent-7 {
  color: rgba(0, 188, 212, 0.7) !important;
}
.text-cyan-transparent-8 {
  color: rgba(0, 188, 212, 0.8) !important;
}
.text-cyan-transparent-9 {
  color: rgba(0, 188, 212, 0.9) !important;
}
.text-cyan-50 {
  color: #e0f7fa !important;
}
.text-cyan-100 {
  color: #b2ebf2 !important;
}
.text-cyan-200 {
  color: #80deea !important;
}
.text-cyan-300,
.text-cyan-lighter {
  color: #4dd0e1 !important;
}
.text-cyan-400 {
  color: #26c6da !important;
}
.text-cyan-600 {
  color: #00acc1 !important;
}
.text-cyan-700,
.text-cyan-darker {
  color: #0097a7 !important;
}
.text-cyan-800 {
  color: #00838f !important;
}
.text-cyan-900 {
  color: #006064 !important;
}
.text-success,
.text-teal,
.text-teal-500 {
  color: #009688 !important;
}
.text-teal-transparent-1 {
  color: rgba(0, 150, 136, 0.1) !important;
}
.text-teal-transparent-2 {
  color: rgba(0, 150, 136, 0.2) !important;
}
.text-teal-transparent-3 {
  color: rgba(0, 150, 136, 0.3) !important;
}
.text-teal-transparent-4 {
  color: rgba(0, 150, 136, 0.4) !important;
}
.text-teal-transparent-5 {
  color: rgba(0, 150, 136, 0.5) !important;
}
.text-teal-transparent-6 {
  color: rgba(0, 150, 136, 0.6) !important;
}
.text-teal-transparent-7 {
  color: rgba(0, 150, 136, 0.7) !important;
}
.text-teal-transparent-8 {
  color: rgba(0, 150, 136, 0.8) !important;
}
.text-teal-transparent-9 {
  color: rgba(0, 150, 136, 0.9) !important;
}
.text-teal-50 {
  color: #e0f2f1 !important;
}
.text-teal-100 {
  color: #b2dfdb !important;
}
.text-teal-200 {
  color: #80cbc4 !important;
}
.text-teal-300,
.text-teal-lighter {
  color: #4db6ac !important;
}
.text-teal-400 {
  color: #26a69a !important;
}
.text-teal-600 {
  color: #00897b !important;
}
.text-teal-700,
.text-teal-darker {
  color: #00796b !important;
}
.text-teal-800 {
  color: #00695c !important;
}
.text-teal-900 {
  color: #004d40 !important;
}
.text-green,
.text-green-500 {
  color: #4caf50 !important;
}
.text-green-transparent-1 {
  color: rgba(76, 175, 80, 0.1) !important;
}
.text-green-transparent-2 {
  color: rgba(76, 175, 80, 0.2) !important;
}
.text-green-transparent-3 {
  color: rgba(76, 175, 80, 0.3) !important;
}
.text-green-transparent-4 {
  color: rgba(76, 175, 80, 0.4) !important;
}
.text-green-transparent-5 {
  color: rgba(76, 175, 80, 0.5) !important;
}
.text-green-transparent-6 {
  color: rgba(76, 175, 80, 0.6) !important;
}
.text-green-transparent-7 {
  color: rgba(76, 175, 80, 0.7) !important;
}
.text-green-transparent-8 {
  color: rgba(76, 175, 80, 0.8) !important;
}
.text-green-transparent-9 {
  color: rgba(76, 175, 80, 0.9) !important;
}
.text-green-50 {
  color: #e8f5e9 !important;
}
.text-green-100 {
  color: #c8e6c9 !important;
}
.text-green-200 {
  color: #a5d6a7 !important;
}
.text-green-300,
.text-green-lighter {
  color: #81c784 !important;
}
.text-green-400 {
  color: #66bb6a !important;
}
.text-green-600 {
  color: #43a047 !important;
}
.text-green-700,
.text-green-darker {
  color: #388e3c !important;
}
.text-green-800 {
  color: #2e7d32 !important;
}
.text-green-900 {
  color: #1b5e20 !important;
}
.text-light-green,
.text-light-green-500 {
  color: #8bc34a !important;
}
.text-light-green-transparent-1 {
  color: rgba(139, 195, 74, 0.1) !important;
}
.text-light-green-transparent-2 {
  color: rgba(139, 195, 74, 0.2) !important;
}
.text-light-green-transparent-3 {
  color: rgba(139, 195, 74, 0.3) !important;
}
.text-light-green-transparent-4 {
  color: rgba(139, 195, 74, 0.4) !important;
}
.text-light-green-transparent-5 {
  color: rgba(139, 195, 74, 0.5) !important;
}
.text-light-green-transparent-6 {
  color: rgba(139, 195, 74, 0.6) !important;
}
.text-light-green-transparent-7 {
  color: rgba(139, 195, 74, 0.7) !important;
}
.text-light-green-transparent-8 {
  color: rgba(139, 195, 74, 0.8) !important;
}
.text-light-green-transparent-9 {
  color: rgba(139, 195, 74, 0.9) !important;
}
.text-light-green-50 {
  color: #f1f8e9 !important;
}
.text-light-green-100 {
  color: #dcedc8 !important;
}
.text-light-green-200 {
  color: #c5e1a5 !important;
}
.text-light-green-300,
.text-light-green-lighter {
  color: #aed581 !important;
}
.text-light-green-400 {
  color: #9ccc65 !important;
}
.text-light-green-600 {
  color: #7cb342 !important;
}
.text-light-green-700,
.text-light-green-darker {
  color: #689f38 !important;
}
.text-light-green-800 {
  color: #558b2f !important;
}
.text-light-green-900 {
  color: #33691e !important;
}
.text-lime,
.text-lime-500 {
  color: #cddc39 !important;
}
.text-lime-transparent-1 {
  color: rgba(205, 220, 57, 0.1) !important;
}
.text-lime-transparent-2 {
  color: rgba(205, 220, 57, 0.2) !important;
}
.text-lime-transparent-3 {
  color: rgba(205, 220, 57, 0.3) !important;
}
.text-lime-transparent-4 {
  color: rgba(205, 220, 57, 0.4) !important;
}
.text-lime-transparent-5 {
  color: rgba(205, 220, 57, 0.5) !important;
}
.text-lime-transparent-6 {
  color: rgba(205, 220, 57, 0.6) !important;
}
.text-lime-transparent-7 {
  color: rgba(205, 220, 57, 0.7) !important;
}
.text-lime-transparent-8 {
  color: rgba(205, 220, 57, 0.8) !important;
}
.text-lime-transparent-9 {
  color: rgba(205, 220, 57, 0.9) !important;
}
.text-lime-50 {
  color: #f9fbe7 !important;
}
.text-lime-100 {
  color: #f0f4c3 !important;
}
.text-lime-200 {
  color: #e6ee9c !important;
}
.text-lime-300,
.text-lime-lighter {
  color: #dce775 !important;
}
.text-lime-400 {
  color: #d4e157 !important;
}
.text-lime-600 {
  color: #c0ca33 !important;
}
.text-lime-700,
.text-lime-darker {
  color: #afb42b !important;
}
.text-lime-800 {
  color: #9e9d24 !important;
}
.text-lime-900 {
  color: #827717 !important;
}
.text-yellow,
.text-yellow-500 {
  color: #ffeb3b !important;
}
.text-amber,
.text-amber-500 {
  color: #ffc107 !important;
}
.text-amber-transparent-1 {
  color: rgba(255, 193, 7, 0.1) !important;
}
.text-amber-transparent-2 {
  color: rgba(255, 193, 7, 0.2) !important;
}
.text-amber-transparent-3 {
  color: rgba(255, 193, 7, 0.3) !important;
}
.text-amber-transparent-4 {
  color: rgba(255, 193, 7, 0.4) !important;
}
.text-amber-transparent-5 {
  color: rgba(255, 193, 7, 0.5) !important;
}
.text-amber-transparent-6 {
  color: rgba(255, 193, 7, 0.6) !important;
}
.text-amber-transparent-7 {
  color: rgba(255, 193, 7, 0.7) !important;
}
.text-amber-transparent-8 {
  color: rgba(255, 193, 7, 0.8) !important;
}
.text-amber-transparent-9 {
  color: rgba(255, 193, 7, 0.9) !important;
}
.text-amber-50 {
  color: #fff8e1 !important;
}
.text-amber-100 {
  color: #ffecb3 !important;
}
.text-amber-200 {
  color: #ffe082 !important;
}
.text-amber-300,
.text-amber-lighter {
  color: #ffd54f !important;
}
.text-amber-400 {
  color: #ffca28 !important;
}
.text-amber-600 {
  color: #ffb300 !important;
}
.text-amber-700,
.text-amber-darker {
  color: #ffa000 !important;
}
.text-amber-800 {
  color: #ff8f00 !important;
}
.text-amber-900 {
  color: #ff6f00 !important;
}
.text-orange,
.text-orange-500,
.text-warning {
  color: #ff9800 !important;
}
.text-orange-transparent-1 {
  color: rgba(255, 152, 0, 0.1) !important;
}
.text-orange-transparent-2 {
  color: rgba(255, 152, 0, 0.2) !important;
}
.text-orange-transparent-3 {
  color: rgba(255, 152, 0, 0.3) !important;
}
.text-orange-transparent-4 {
  color: rgba(255, 152, 0, 0.4) !important;
}
.text-orange-transparent-5 {
  color: rgba(255, 152, 0, 0.5) !important;
}
.text-orange-transparent-6 {
  color: rgba(255, 152, 0, 0.6) !important;
}
.text-orange-transparent-7 {
  color: rgba(255, 152, 0, 0.7) !important;
}
.text-orange-transparent-8 {
  color: rgba(255, 152, 0, 0.8) !important;
}
.text-orange-transparent-9 {
  color: rgba(255, 152, 0, 0.9) !important;
}
.text-orange-50 {
  color: #fff3e0 !important;
}
.text-orange-100 {
  color: #ffe0b2 !important;
}
.text-orange-200 {
  color: #ffcc80 !important;
}
.text-orange-300,
.text-orange-lighter {
  color: #ffb74d !important;
}
.text-orange-400 {
  color: #ffa726 !important;
}
.text-orange-600 {
  color: #fb8c00 !important;
}
.text-orange-700,
.text-orange-darker {
  color: #f57c00 !important;
}
.text-orange-800 {
  color: #ef6c00 !important;
}
.text-orange-900 {
  color: #e65100 !important;
}
.text-deep-orange,
.text-deep-orange-500 {
  color: #ff5722 !important;
}
.text-deep-orange-transparent-1 {
  color: rgba(255, 87, 34, 0.1) !important;
}
.text-deep-orange-transparent-2 {
  color: rgba(255, 87, 34, 0.2) !important;
}
.text-deep-orange-transparent-3 {
  color: rgba(255, 87, 34, 0.3) !important;
}
.text-deep-orange-transparent-4 {
  color: rgba(255, 87, 34, 0.4) !important;
}
.text-deep-orange-transparent-5 {
  color: rgba(255, 87, 34, 0.5) !important;
}
.text-deep-orange-transparent-6 {
  color: rgba(255, 87, 34, 0.6) !important;
}
.text-deep-orange-transparent-7 {
  color: rgba(255, 87, 34, 0.7) !important;
}
.text-deep-orange-transparent-8 {
  color: rgba(255, 87, 34, 0.8) !important;
}
.text-deep-orange-transparent-9 {
  color: rgba(255, 87, 34, 0.9) !important;
}
.text-deep-orange-50 {
  color: #fbe9e7 !important;
}
.text-deep-orange-100 {
  color: #ffccbc !important;
}
.text-deep-orange-200 {
  color: #ffab91 !important;
}
.text-deep-orange-300,
.text-deep-orange-lighter {
  color: #ff8a65 !important;
}
.text-deep-orange-400 {
  color: #ff7043 !important;
}
.text-deep-orange-600 {
  color: #f4511e !important;
}
.text-deep-orange-700,
.text-deep-orange-darker {
  color: #e64a19 !important;
}
.text-deep-orange-800 {
  color: #d84315 !important;
}
.text-deep-orange-900 {
  color: #bf360c !important;
}
.text-brown,
.text-brown-500 {
  color: #795548 !important;
}
.text-brown-transparent-1 {
  color: rgba(121, 85, 72, 0.1) !important;
}
.text-brown-transparent-2 {
  color: rgba(121, 85, 72, 0.2) !important;
}
.text-brown-transparent-3 {
  color: rgba(121, 85, 72, 0.3) !important;
}
.text-brown-transparent-4 {
  color: rgba(121, 85, 72, 0.4) !important;
}
.text-brown-transparent-5 {
  color: rgba(121, 85, 72, 0.5) !important;
}
.text-brown-transparent-6 {
  color: rgba(121, 85, 72, 0.6) !important;
}
.text-brown-transparent-7 {
  color: rgba(121, 85, 72, 0.7) !important;
}
.text-brown-transparent-8 {
  color: rgba(121, 85, 72, 0.8) !important;
}
.text-brown-transparent-9 {
  color: rgba(121, 85, 72, 0.9) !important;
}
.text-brown-50 {
  color: #efebe9 !important;
}
.text-brown-100 {
  color: #d7ccc8 !important;
}
.text-brown-200 {
  color: #bcaaa4 !important;
}
.text-brown-300,
.text-brown-lighter {
  color: #a1887f !important;
}
.text-brown-400 {
  color: #8d6e63 !important;
}
.text-brown-600 {
  color: #6d4c41 !important;
}
.text-brown-700,
.text-brown-darker {
  color: #5d4037 !important;
}
.text-brown-800 {
  color: #4e342e !important;
}
.text-brown-900 {
  color: #3e2723 !important;
}
.text-grey,
.text-grey-500,
.text-muted {
  color: #9e9e9e !important;
}
.text-grey-transparent-1 {
  color: rgba(158, 158, 158, 0.1) !important;
}
.text-grey-transparent-2 {
  color: rgba(158, 158, 158, 0.2) !important;
}
.text-grey-transparent-3 {
  color: rgba(158, 158, 158, 0.3) !important;
}
.text-grey-transparent-4 {
  color: rgba(158, 158, 158, 0.4) !important;
}
.text-grey-transparent-5 {
  color: rgba(158, 158, 158, 0.5) !important;
}
.text-grey-transparent-6 {
  color: rgba(158, 158, 158, 0.6) !important;
}
.text-grey-transparent-7 {
  color: rgba(158, 158, 158, 0.7) !important;
}
.text-grey-transparent-8 {
  color: rgba(158, 158, 158, 0.8) !important;
}
.text-grey-transparent-9 {
  color: rgba(158, 158, 158, 0.9) !important;
}
.text-silver-transparent-1 {
  color: rgba(238, 238, 238, 0.1) !important;
}
.text-silver-transparent-2 {
  color: rgba(238, 238, 238, 0.2) !important;
}
.text-silver-transparent-3 {
  color: rgba(238, 238, 238, 0.3) !important;
}
.text-silver-transparent-4 {
  color: rgba(238, 238, 238, 0.4) !important;
}
.text-silver-transparent-5 {
  color: rgba(238, 238, 238, 0.5) !important;
}
.text-silver-transparent-6 {
  color: rgba(238, 238, 238, 0.6) !important;
}
.text-silver-transparent-7 {
  color: rgba(238, 238, 238, 0.7) !important;
}
.text-silver-transparent-8 {
  color: rgba(238, 238, 238, 0.8) !important;
}
.text-silver-transparent-9 {
  color: rgba(238, 238, 238, 0.9) !important;
}
.text-grey-50,
.text-silver-lighter {
  color: #fafafa !important;
}
.text-grey-100 {
  color: #f5f5f5 !important;
}
.text-grey-200,
.text-silver {
  color: #eee !important;
}
.text-grey-300,
.text-grey-lighter {
  color: #e0e0e0 !important;
}
.text-grey-400,
.text-silver-darker {
  color: #bdbdbd !important;
}
.text-grey-600 {
  color: #757575 !important;
}
.text-grey-700,
.text-grey-darker {
  color: #616161 !important;
}
.text-grey-800 {
  color: #424242 !important;
}
.text-grey-900 {
  color: #212121 !important;
}
.text-blue-grey,
.text-blue-grey-500 {
  color: #607d8b !important;
}
.text-blue-grey-transparent-1 {
  color: rgba(96, 125, 139, 0.1) !important;
}
.text-blue-grey-transparent-2 {
  color: rgba(96, 125, 139, 0.2) !important;
}
.text-blue-grey-transparent-3 {
  color: rgba(96, 125, 139, 0.3) !important;
}
.text-blue-grey-transparent-4 {
  color: rgba(96, 125, 139, 0.4) !important;
}
.text-blue-grey-transparent-5 {
  color: rgba(96, 125, 139, 0.5) !important;
}
.text-blue-grey-transparent-6 {
  color: rgba(96, 125, 139, 0.6) !important;
}
.text-blue-grey-transparent-7 {
  color: rgba(96, 125, 139, 0.7) !important;
}
.text-blue-grey-transparent-8 {
  color: rgba(96, 125, 139, 0.8) !important;
}
.text-blue-grey-transparent-9 {
  color: rgba(96, 125, 139, 0.9) !important;
}
.text-blue-grey-50 {
  color: #eceff1 !important;
}
.text-blue-grey-100 {
  color: #cfd8dc !important;
}
.text-blue-grey-200 {
  color: #b0bec5 !important;
}
.text-blue-grey-300,
.text-blue-grey-lighter {
  color: #90a4ae !important;
}
.text-blue-grey-400 {
  color: #78909c !important;
}
.text-blue-grey-600 {
  color: #546e7a !important;
}
.text-blue-grey-700,
.text-blue-grey-darker {
  color: #455a64 !important;
}
.text-blue-grey-800 {
  color: #37474f !important;
}
.text-blue-grey-900 {
  color: #263238 !important;
}
.text-black,
.text-black-darker,
.text-inverse {
  color: #000 !important;
}
.text-black-lighter {
  color: #212121 !important;
}
.text-black-transparent-1 {
  color: rgba(0, 0, 0, 0.1) !important;
}
.text-black-transparent-2 {
  color: rgba(0, 0, 0, 0.2) !important;
}
.text-black-transparent-3 {
  color: rgba(0, 0, 0, 0.3) !important;
}
.text-black-transparent-4 {
  color: rgba(0, 0, 0, 0.4) !important;
}
.text-black-transparent-5 {
  color: rgba(0, 0, 0, 0.5) !important;
}
.text-black-transparent-6 {
  color: rgba(0, 0, 0, 0.6) !important;
}
.text-black-transparent-7 {
  color: rgba(0, 0, 0, 0.7) !important;
}
.text-black-transparent-8 {
  color: rgba(0, 0, 0, 0.8) !important;
}
.text-black-transparent-9 {
  color: rgba(0, 0, 0, 0.9) !important;
}
.text-white {
  color: #fff !important;
}
.text-white-transparent-1 {
  color: rgba(255, 255, 255, 0.1) !important;
}
.text-white-transparent-2 {
  color: rgba(255, 255, 255, 0.2) !important;
}
.text-white-transparent-3 {
  color: rgba(255, 255, 255, 0.3) !important;
}
.text-white-transparent-4 {
  color: rgba(255, 255, 255, 0.4) !important;
}
.text-white-transparent-5 {
  color: rgba(255, 255, 255, 0.5) !important;
}
.text-white-transparent-6 {
  color: rgba(255, 255, 255, 0.6) !important;
}
.text-white-transparent-7 {
  color: rgba(255, 255, 255, 0.7) !important;
}
.text-white-transparent-8 {
  color: rgba(255, 255, 255, 0.8) !important;
}
.text-white-transparent-9 {
  color: rgba(255, 255, 255, 0.9) !important;
}
.text-gradient {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}
